[
  {
    "id": 1,
    "img": "Avenida Paulista.jpg",
    "title": "Avenida Paulista",
    "favorite": false
  },
  {
    "id": 2,
    "img": "Beco do Batman.jpg",
    "title": "Beco do Batman",
    "favorite": false
  },
  {
    "id": 3,
    "img": "Catedral Sao Paulo.jpg",
    "title": "Catedral São Paulo",
    "favorite": false
  },
  {
    "id": 4,
    "img": "Edificio Italia.jpg",
    "title": "Edifício Itália",
    "favorite": false
  },
  {
    "id": 5,
    "img": "Favela Paraisopolis.jpg",
    "title": "Favela Paraisópolis",
    "favorite": false
  },
  {
    "id": 6,
    "img": "Monumento as Bandeiras.jpeg",
    "title": "Monumento aos Bandeiras",
    "favorite": false
  },
  {
    "id": 7,
    "img": "Museu de Arte de Sao Paulo - MASP.jpg",
    "title": "Museu de Arte de São Paulo - MASP",
    "favorite": false
  },
  {
    "id": 8,
    "img": "Parque Villa-Lobos.jpg",
    "title": "Parque Villa-Lobos",
    "favorite": false
  },
  {
    "id": 9,
    "img": "Patio do Colegio.jpg",
    "title": "Pátio do Colégio",
    "favorite": false
  },
  {
    "id": 10,
    "img": "Pinacoteca do Estado de Sao Paulo.jpg",
    "title": "Pinacoteca do Estado de São Paulo",
    "favorite": false
  }
]